#main {
    background-color: aqua;
    color: navy;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
img {
    width: 400px;
}
#dogpics {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 10px;
}
h2 {
    display: flex;
    justify-content: center;
}